* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-evenly;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th {
    text-align: center;
}

tr {
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}


tbody td {
   text-align: center;
}